*{padding:0;
margin:0;
}
.font1{
    display:flex;
    max-width:1030px;
    margin:auto;
    margin-bottom:100px;
    text-align:center;
}
.font2 img:hover{
    transform:translateY(-10px);
}
.font0{
    text-align:center;
    font-style:italic;
    font-size:40px;
    margin-top:50px;
    margin-bottom:100px;
    color:cadetblue;
}
.font5 img{
    height:200px;
    width:200px;
    margin-bottom:100px;
}
.font4{
    text-align:center;
    max-width:1030px;
    margin:auto;
}
.font4 p{
    font-size:30px;
    font-style:oblique;
    margin-bottom:100px;
    padding-bottom: 250px;
}
.font6{
    background-color:beige;
}
.font7{
    display:flex;
    max-width:1000px;
    margin:auto;
    text-align:center;
    flex:33%;
}
.font7 img{
    width:100px;
    height:100px;
    border-radius:50%;
}
.font8{
    background-color:cornsilk;
    margin:10px;
    border-radius:10px;
    margin-bottom:100px;
    padding-bottom:40px;
    padding-top:20px;
}
.font8:hover{
    transform:translateY(-10px);
}
.font9{
    display:flex;
    margin-left:130px;
}
.font5{
    flex:1;
    text-align:left;
}
.font5 .fa{
    margin-left:500px;
    font-size:30px;
    margin-top:70px;
}
@media(max-width:700px){
    .font5 img{
        height:100px;
        width:100px;
        margin-bottom:50px;
        margin-left:-150px;
    }
    .font5{
        max-width:100%;
        
    }
    .font5 .fa{
        margin-left:100px;
    }
    .font4 p{
        font-size:20px;
    }
    .font0{
        font-size:30px;
    }
    .font1{
        display:block;
    }
    .font7{
        display:block;
    }
    .font9{
        margin-left:180px;
    }
    .font8{
        border-radius:30px;
        margin-bottom:30px;
    }
    
}